html {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    font-family: sans-serif;
    margin-left: 160px; 
    padding: 0px 10px;
}

#title1 {
    font-weight: 700;
    font-size: 63px;
    text-align: center;
    text-transform: uppercase;
    border: green, 50px;
}

#title2 {
    text-align:center;
}

#bdbutton {
    margin: auto;
    padding: 10px;
    position: absolute;
    right: 43.5%;
    border-radius: 25px;
    border: green;
    border-width: 50px;
    font-weight: 700;
    background-color: #16d9e3;
}

#bookbutton {
    margin-top: 3%;
    padding: 10px;
    position: absolute;
    right: 43.35%;
    border-radius: 25px;
    border: green;
    border-width: 50px;
    font-weight: 700;
    background-color: #16d9e3;
}

.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#booktitle {
    font-weight: 650;
    font-size: 63px;
    text-align: center;
}

#booktitle2 {
    text-align:center;
    font-weight: 650;
}

#bookform {
    text-align: center;
}

#ftakeoff {
    padding: 7.5px;
    border: green;
    border-radius: 10px;
    border-width: 7.5px;
    margin: 10px 0;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    width: 25%;
}

#fland {
    padding: 7.5px;
    border: green;
    border-radius: 10px;
    border-width: 7.5px;
    margin: 10px 0;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    width: 25%;
}

#fname {
    padding: 7.5px;
    border: green;
    border-radius: 10px;
    border-width: 7.5px;
    margin: 10px 0;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    width: 25%;
}

#fphone {
    padding: 7.5px;
    border: green;
    border-radius: 10px;
    border-width: 7.5px;
    margin: 10px 0;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    width: 25%;
}

#fextra {
    padding: 10px;
    border: green;
    border-radius: 10px;
    border-width: 7.5px;
    margin: 10px 0;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    width: 30%;
}

#fsubmit {
    appearance:none;
    -webkit-appearance:none;
    padding:0px;
    border:none;
    background-color: #30cbf1;
    color:#fff;
    font-weight:600;
    border-radius:10px;
    height: 35px;
    width: 20%;
    font-weight: 700;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
}

#bstatus {
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    border: green, 50px;
    margin-left: 30px;
}

#email {
    padding: 7.5px;
    border: green;
    border-radius: 10px;
    border-width: 7.5px;
    margin: 10px 0;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    width: 25%;
}

#name {
    padding: 7.5px;
    border: green;
    border-radius: 10px;
    border-width: 7.5px;
    margin: 10px 0;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    width: 25%;
}

#pass {
    padding: 7.5px;
    border: green;
    border-radius: 10px;
    border-width: 7.5px;
    margin: 10px 0;
    margin-top: 10px 0;
    margin-bottom: 10px 0;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    width: 25%;
}

#fwoof {
    appearance:none;
    -webkit-appearance:none;
    border:none;
    background-color: #30cbf1;
    color:#fff;
    font-weight:600;
    border-radius:10px;
    height: 35px;
    width: 20%;
    font-weight: 700;
    box-shadow:0 0 15px 5px rgba(0, 47, 117, 0.685);
    margin: 0;
    position: absolute;
    left: 53%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
}